.main-container{
    height: 100vh;
    padding: 5%;
}
.row-background{
    position: absolute;
    width: 40%;
    height: 50vh;
    left: 31%;
    background-color: #acacac;
    color: white;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 5px 30px #1e1d25;

}

.policy-heading {
    text-align: start;
    font-family: 'Tai Heritage Pro', serif;
    background-color: #acacac;
    color: white;
    padding-left: 5%;
}
