@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);



.content h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(84, 84, 84);
    font-size: 32px;
    text-align: left;
    margin-left: 1%;

}

/* .question-break{
    margin-top: -2px;
} */


.content {
    
    line-height: 20px;
    height: auto;
    margin: auto;
    width: 60%;
    border: 3px solid #E1963D;
    padding: 10px;
    position: relative;
    z-index: -1;

}

@media only screen and (max-width: 600px) {
    .content {
        width: 80%;
        font-size: 6px;
    
    }
    
  }
  



.question {
    /* background-color: aliceblue; */
    color: rgb(0, 0, 0);
    position: relative;
    /* z-index: 1; */
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width: 100%;
    cursor: pointer;
    z-index: 0;
}

.answers {
    font-weight: 300;
    padding: 0px 15px;
    margin: 0px 0;
    height: 0;
    overflow: hidden;
    position: relative;
    opacity: 0;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
    color: rgb(0, 0, 0);
    z-index: -1;
    border-radius: 15px;
}

.questions:checked~.answers {
    height: auto;
    opacity: 1;
    padding: 15px;
}

.plus {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    z-index: 1;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.questions:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions {
    display: none;
}