
.discover-main{
    height: 100vh;
    margin-top: -50px;
    position: relative;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .discover-main{

        height: 30vh;

    }
  }

.discoverd-bg{
    background: url("../images//discoverbg.png");
    background-size: 100% 100%;
}

.discover-content h1{
    
    
    margin-top: 28%;
    margin-left: 10%;
    font-size: 3rem;
}

.discover-button{
    margin-left: 10%;
    background-color: #E1963D;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    transition-duration: 1s;

}
.discover-button:hover{
    transform: scale(1.1) translateX(15px);

}

@media only screen and (max-width: 600px) {
    .discover-main{
       height: 30vh;
    }

    .discover-content h1{
    
    
        /* margin-top: 28%; */
        /* margin-left: 10%; */
        font-size: 2rem;
    }
    
    .discover-button{
        /* margin-left: 10%; */
        /* background-color: #E1963D; */
        height: 25px;
        width: 50px;
        /* border-radius: 5px; */
        /* transition-duration: 1s; */
    
    }
  }